<div class="container-frases">

  <!-- Header -->
  <div class="header">
    <h2>Autores</h2>
    <button class="btn-nova-frase" (click)="abrirDrawer()">+ Novo autor</button>
  </div>

  <!-- MENSAGEM -->
  <app-mensagem [texto]="mensagem" [tipo]="tipoMensagem"></app-mensagem>

  <!-- LISTAGEM EM CARDS -->
  <div class="lista-frases">
    <div class="card-frase" *ngFor="let autor of (autores$ | async)">

      <div class="frase-texto">
        {{ autor.nome }} {{ autor.sobrenome }}
      </div>

      @if(autor.descricao){
        <div class="frase-info">
          <span> {{ autor.descricao?? "" }}</span>
        </div>

      }
      <div class="acoes">
        <span class="btn-acao edit" (click)="editar(autor.id!)">Editar</span>
        <span class="btn-acao delete" (click)="deletar(autor.id!)">Excluir</span>
      </div>
    </div>
  </div>
</div>

<!-- DRAWER LATERAL -->
<div class="drawer" [class.open]="drawerAberto">
  <div class="drawer-header">
    <h3 class="titulo-cadastro">{{ editandoId ? 'Editar Autor' : 'Novo Autor' }}</h3>
    <button class="btn-close" (click)="fecharDrawer()">✕</button>
  </div>

  <form (ngSubmit)="salvar()" class="form-drawer">

    <label>Nome</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="novoAutor.nome"
      name="nome"
      required
    />

    <label>Sobrenome</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="novoAutor.sobrenome"
      name="sobrenome"
      required
    />

    <label>Descrição</label>
    <textarea class="form-control"
      [(ngModel)]="novoAutor.descricao"
      name="descricao">
    </textarea>

    <button type="submit" class="btn-salvar">
      {{ editandoId ? 'Atualizar' : 'Salvar' }}
    </button>
  </form>
</div>