nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--blue-dark);
}
.navbar-brand{
  font-family: "Pacifico";
  font-size: 32px;
}

.nav-link{
  color: white;
  padding-left: 1rem !important;
  padding-right: 1rem !important;

}