<div class="card-frase" *ngFor="let frase of (frases$ | async)">

    <div class="frase-texto">“{{ textoLimitado }}”</div>
    

    <div class="frase-info">
        <span><strong>Autor:</strong> {{ getAutorNome() }}</span>
        <span><strong>Tema:</strong> {{ getTemaNome() }}</span>
        <span><strong>Categoria:</strong> {{ getCategoriaNome() }}</span>
        <span><strong>Criado por:</strong> {{ getUsuarioNome() }}</span>
        <span><strong>Em:</strong> {{ frase.criadoEm?.toDate?.() | date:'dd/MM/yyyy HH:mm' }}</span>
        <button class="btn btn-sm" (click)="copiarTexto()">
            <i class="fas fa-clipboard"></i>
        </button>
    </div>

    <div class="d-flex gap-2">
        <button class="btn btn-sm btn-outline-success" (click)="compartilhar('whatsapp')">
            <i class="fab fa-whatsapp"></i>
        </button>
        <button class="btn btn-sm btn-outline-info" (click)="compartilhar('twitter')">
            <i class="fab fa-twitter"></i>
        </button>
        <button class="btn btn-sm btn-outline-primary" (click)="compartilhar('facebook')">
            <i class="fab fa-facebook-f"></i>
        </button>
        <button class="btn btn-sm btn-outline-secondary" (click)="compartilhar('linkedin')">
            <i class="fab fa-linkedin-in"></i>
        </button>
        
    </div>
</div>