<div class="container-frases">

  <!-- Header -->
  <div class="header">
    <h2>Categorias</h2>
    @if(usuarioLogado()){
      <button class="btn-nova-frase" (click)="abrirDrawer()">+ Nova categoria</button>
    }
  </div>

  <!-- MENSAGEM -->
  <app-mensagem [texto]="mensagem" [tipo]="tipoMensagem"></app-mensagem>

  <!-- LISTAGEM EM CARDS -->
  <div class="lista-frases">
    <div class="card-frase" *ngFor="let categoria of (categorias$ | async)">

      <div class="frase-texto">
        {{ categoria.nome }}
      </div>

      @if(categoria.descricao){
      <div class="frase-info">
        <span>{{ categoria.descricao }}</span>
      </div>
      }

      @if(usuarioLogado()){
      <div class="acoes">
        <span class="btn-acao edit" (click)="editar(categoria.id!)">Editar</span>
        <span class="btn-acao delete" (click)="deletar(categoria.id!)">Excluir</span>
      </div>
      }
    </div>
  </div>
</div>

<!-- DRAWER LATERAL -->
<div class="drawer" [class.open]="drawerAberto">
  <div class="drawer-header">
    <h3 class="titulo-cadastro">{{ editandoId ? 'Editar Categoria' : 'Nova Categoria' }}</h3>
    <button class="btn-close" (click)="fecharDrawer()">✕</button>
  </div>

  <form (ngSubmit)="salvar()" class="form-drawer">

    <label>Nome</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="novaCategoria.nome"
      name="nome"
      required
    />

    <label>Descrição</label>
    <textarea
      class="form-control"
      [(ngModel)]="novaCategoria.descricao"
      name="descricao">
    </textarea>

    <button type="submit" class="btn-salvar">
      {{ editandoId ? 'Atualizar' : 'Salvar' }}
    </button>
  </form>
</div>
