<h2 class="mb-4 text-center">Cadastro de Categorias</h2>

<form (ngSubmit)="salvar()" class="row g-3 mb-4">
  <div class="col-md-4">
    <input
      type="text"
      class="form-control"
      placeholder="Nome"
      [(ngModel)]="novaCategoria.nome"
      name="nome"
      required
    />
  </div>

  <div class="col-md-6">
    <input
      type="text"
      class="form-control"
      placeholder="Descrição"
      [(ngModel)]="novaCategoria.descricao"
      name="descricao"
      required
    />
  </div>

  <div class="col-md-2 text-center">
    <button type="submit" class="btn btn-primary w-100">
      {{ editandoId ? 'Atualizar' : 'Salvar' }}
    </button>
  </div>

  <div *ngIf="editandoId" class="col-12 text-center">
    <button type="button" class="btn btn-secondary btn-sm" (click)="cancelarEdicao()">
      Cancelar Edição
    </button>
  </div>
</form>

<table class="table table-striped text-center align-middle">
  <thead class="table-light">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of (categorias$ | async)">
      <td>{{ categoria.nome }}</td>
      <td>{{ categoria.descricao }}</td>
      <td>
        <button class="btn btn-sm btn-outline-primary me-2" (click)="editar(categoria.id!)">
          Editar
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="deletar(categoria.id!)">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
