/* ============================= */
/*            PALETA             */
/* ============================= */
/* ============================= */
/*          BACKGROUND           */
/* ============================= */
.background {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.link-cadastro{
    font-size: 0.8rem;
    a{
        font-size: 0.8rem;
        text-decoration: underline;
        color: #3664fc;
        cursor: pointer;
    }
}

/* ============================= */
/*         LOGIN CARD            */
/* ============================= */
.login-card {
  width: 500px;
  padding: 35px;
  border-radius: 18px;
  height: 620px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.09);

  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;

  animation: fadeIn 0.5s ease-out;
}

/* ============================= */
/*          TYPOGRAPHY           */
/* ============================= */
.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-title);
  margin: 0;
}

.subtitle {
  margin-top: -6px;
  font-size: 0.9rem;
  color: var(--text-subtitle);
}

/* ============================= */
/*          INPUT GROUP          */
/* ============================= */
.input-group {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 0.85rem;
  color: var(--text-subtitle);
  margin-bottom: 4px;
}

.input-group input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #c5ddf3;
  background: rgba(255, 255, 255, 0.9);
  outline: none;
  font-size: 0.95rem;
  transition: 0.18s ease-in-out;
}

.input-group input:focus {
  border: 1px solid var(--blue-primary);
  box-shadow: 0 0 5px rgba(109, 169, 228, 0.6);
}

/* ============================= */
/*             BUTTON            */
/* ============================= */
.btn-login {
  padding: 13px;
  background: var(--blue-primary);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  margin-top: 10px;
  transition: background 0.3s ease, transform 0.25s ease;
}

.btn-login:hover {
  background: var(--blue-primary-hover);
  transform: translateY(-3px);
}

/* ============================= */
/*          ERROR LABEL          */
/* ============================= */
.erro {
  color: #c0392b;
  font-size: 0.8rem;
  margin-top: 10px;
}

/* ============================= */
/*          ANIMATION            */
/* ============================= */
@keyframes fadeIn {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
