
/* cards das frases */

.container-frases {
  max-width: 850px;
  margin: auto;
  padding: 20px;
}

/* header com botão de nova frase */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.lista-frases {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-frase {
  background: white;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s;
  margin: 10px;
}
.card-frase:hover {
  transform: translateY(-3px);
}