<div class="container-frases">

  <!-- Header -->
  <div class="header">
    <h2>Frases</h2>
    @if(usuarioLogado()){
      <button class="btn-nova-frase" (click)="abrirDrawer()">+ Nova frase</button>
    }
  </div>

  <!-- MENSAGEM -->
  <app-mensagem [texto]="mensagem" [tipo]="tipoMensagem"></app-mensagem>

  <!-- LISTAGEM EM CARDS -->
  <div class="lista-frases">
    <app-frase-card *ngFor="let frase of frases$ | async" [frase]="frase"></app-frase-card>
  </div>
</div>

<!-- DRAWER LATERAL -->
<div class="drawer" [class.open]="drawerAberto">
  <div class="drawer-header">
    <h3 class="titulo-cadastro">{{ editandoId ? 'Editar Frase' : 'Nova Frase' }}</h3>
    <button class="btn-close" (click)="fecharDrawer()">✕</button>
  </div>

  <form (ngSubmit)="salvar()" class="form-drawer">

    <label>Autor</label>
    <select [(ngModel)]="novaFrase.autorId" name="autorId" required>
      <option *ngFor="let autor of (autores$ | async)" [value]="autor.id">
        {{ autor.nome }} {{ autor.sobrenome }}
      </option>
    </select>

    <label>Tema</label>
    <select [(ngModel)]="novaFrase.temaId" name="temaId" required>
      <option *ngFor="let tema of (temas$ | async)" [value]="tema.id">
        {{ tema.nome }}
      </option>
    </select>

    <label>Categoria</label>
    <select
      class="form-select"
      [(ngModel)]="novaFrase.categoria"
      name="categoria"
      required
    >
      <option value="" disabled selected>Selecione o tema</option>
      <option *ngFor="let categoria of (categorias$ | async)" [value]="categoria.id">
        {{ categoria.nome }}
      </option>
    </select>

    <label>Frase</label>
    <textarea [(ngModel)]="novaFrase.texto" name="texto" required></textarea>

    <button type="submit" class="btn-salvar">
      {{ editandoId ? 'Atualizar' : 'Salvar' }}
    </button>
  </form>
</div>
