<div class="container-frases">

  <!-- Header -->
  <div class="header">
    <h2>Temas</h2>
    @if(usuarioLogado()){
      <button class="btn-nova-frase" (click)="abrirDrawer()">+ Novo tema</button>
    }
  </div>

  <!-- MENSAGEM -->
  <app-mensagem [texto]="mensagem" [tipo]="tipoMensagem"></app-mensagem>

  <!-- LISTAGEM EM CARDS -->
  <div class="lista-frases">
    <div class="card-frase" *ngFor="let tema of (temas$ | async)">

      <!-- Nome do tema -->
      <div class="frase-texto">
        {{ tema.nome }}
      </div>

      <!-- Descrição -->
      @if(tema.descricao){
      <div class="frase-info">
        <span>{{ tema.descricao }}</span>
      </div>
      }

      @if(usuarioLogado()){
      <!-- Ações -->
      <div class="acoes">
        <span class="btn-acao edit" (click)="editar(tema.id!)">Editar</span>
        <span class="btn-acao delete" (click)="deletar(tema.id!)">Excluir</span>
      </div>
      }
    </div>
  </div>
</div>


<!-- DRAWER LATERAL -->
<div class="drawer" [class.open]="drawerAberto">
  <div class="drawer-header">
    <h3 class="titulo-cadastro">{{ editandoId ? 'Editar Tema' : 'Novo Tema' }}</h3>
    <button class="btn-close" (click)="fecharDrawer()">✕</button>
  </div>

  <form (ngSubmit)="salvar()" class="form-drawer">

    <label>Nome</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="novoTema.nome"
      name="nome"
      required
    />

    <label>Descrição</label>
    <textarea
      class="form-control"
      [(ngModel)]="novoTema.descricao"
      name="descricao">
    </textarea>

    <button type="submit" class="btn-salvar">
      {{ editandoId ? 'Atualizar' : 'Salvar' }}
    </button>
  </form>
</div>
